.row
    =render :partial => "upcoming_events", :locals => { :events => @events, :current_month => @current_month }
    
    .span4.sidebar
        .row
            .span4.post-event
                %h6 Know of something interesting going on?
                %a.btn.btn-large.btn-success{href: "#{new_event_path}"} Post an event

            .span4
                .info-block
                    .subscription-error.alert.alert-error.hide
                        %button.close{:"data-dismiss" => "alert"} ×
                        %span.subscription-error-message
                            <strong>We ecnountered an error!</strong> Sorry about that! Please try subscribing again later.
                    
                    .mailing-list-subscribed.hide
                        %h4 Thanks for subscribing!
                        %p We'll send you a welcome email shortly.
                    
                    .mailing-list-form
                        %h3 Subscribe to our mailing list
                        %p Never miss a meetup again! Sign up for our newsletter to stay up to date on all of the tech events going on in Orlando this month.

                        =form_for :subscription, :url => { :controller => "subscription", :action => "create" }, :html => { :id => "subscription-form", :class => "form-inline" }, :remote => true do |f|
                            =f.email_field :email, :class => "input-medium", :placeholder => "johndoe@envylabs.com", :id => "subscription_email", :required => "required"
                            %input.btn{:name => "commit", :type => "submit", :id => "subscription_submit", :value => "Subscribe"}

            .span4
                .info-block
                    %h3 Never miss an event
                    %p Follow Orlando Tech Events on Twitter and Facebook for up-to-the-minute updates about what's going on in your city.
                    %a.social-icon.social-icon-tw{href: "http://twitter.com/OTechEvents"}
                    %a.social-icon.social-icon-fb{href: "http://www.facebook.com/OrlandoTechEvents"}

=javascript_include_tag "events/index"