-# HTML5 Doctype
!!! 5
%html
	%head
		%title=t 'site.name'
		-# Include stylesheet and javascript manifests
		=stylesheet_link_tag    "application"
		=javascript_include_tag "application"
		
		-# Meta tags to protect from cross site request forgery
		=csrf_meta_tags


	%body	
		-# HTML5 header for the nav bar
		.navbar.navbar-fixed-top
			.navbar-inner
				.container
					%a.btn.btn-navbar{:"data-toggle" => "collapse", :"data-target" => ".nav-collapse"}
						%span.icon-bar
						%span.icon-bar
						%span.icon-bar

					%a.brand{href: "#{url_for root_path}"}=t 'site.name'

					.nav-collapse
						%ul.nav.pull-right
							%li
								-if current_user
									=link_to t('header.sign_out'), :signout
								-else
									%li=link_to t('header.sign_in'), "/auth/twitter", id: "signin"


		-# Center everything else on the page in the container
		.container{role: "main"}

			-# Flash messages/notices
			-if flash[:notice]
				.row
					.span12
						.alert.alert-info
							%button.close{:"data-dismiss" => "alert"} ×
							=flash[:notice]
			
			-# Yield all other content from views here
			=yield

		%footer
			.container
				.row
					.span6#copyright
						%p
							=t 'footer.oss_html'
							%br
							%small=t 'footer.copyright_html'
					.span6#social-media
						%a.social-icon.social-icon-tw{href: "http://twitter.com/#{t 'site.social.twitter'}"}
						%a.social-icon.social-icon-fb{href: "http://www.facebook.com/#{t 'site.social.facebook'}"}
